*{
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to left, grey, white,grey, white);
}
header{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 50px;
    
    background-image:linear-gradient(to right, red ,yellow, orange, green, rgb(119, 224, 233), rgb(192, 55, 207)) ;
}

nav ul{
    background-color: rgb(230, 154, 184);
    width: 100%;
    padding: 10px;
    list-style-type: none;
    text-align: center;
}
nav li{
    display: inline-block;
       
}
nav a{
    margin: 10px;
    padding: 20px;
    text-decoration: none;
}
img{
    display: flex;
    width: 80%;
    margin: auto;
    align-items: center;
}

.integrantes{
    background-color: aqua;
}